@import '../../styles/constants.module.scss';

.productGrid_resp{
    width: 100%;
    z-index: 999;
    height: 140px;
    margin-top: 400px;
    position:absolute;
    @include breakpoint(mobile){
        margin-top: 300px;
    }
}


.imageBlock_resp{
    margin: 0 5px;
    display: flex;
    background-color: white;
    padding: 5px;
    height: 145px;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    div{
        background-color: white;
        padding: 5px;
        
    }
}  

