@import '../../styles/constants.module.scss';
.navbar__resp{
    color: white;
    background-color: $amazon-black;
    width: 100%;
    padding: 5px;
    position: fixed;
    width: 100%;
    top:0;
    z-index: 9999;
}

.top__resp{
    height: 55px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}


.logoBlock{
    display: flex;
    align-items: center;
    margin-right: 5px;
   
}
.accountBlock{
    @extend .logoBlock;
    h6{
        background-color: $amazon-darkOrange;
        padding: 1px 5px;
        border-radius: 100%;
        position: absolute;
        margin-left: 12px;
        margin-bottom: 20px;
    }
    h1{ 
        font-size: 18px;
        line-height: 24px;
        margin-right: 5px;
        text-transform: uppercase;
    }
}

